<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<section>



		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card">

						<form id="login-form" class="form" action="#" th:action="@{/user/changepass}" method="post">
							<h3 class="text-center text-info">Change Password !!</h3>


							<!-- 
							<div th:if="${param.error}" class="alert alert-danger">
								Invalid Username and Password</div>

							<div th:if="${param.logout}" class="alert alert-success">
								you have been logout</div>


 -->
							<div class="form-group">
								<label for="password" class="text-info">Old Password:</label><br>
								<input type="text" name="oldPassword" id="username"
									class="form-control">
							</div>
							<br>

							<div class="form-group">
								<label for="password" class="text-info">New Password:</label><br>
								<input type="text" name="newPassword" id="password"
									class="form-control">

							</div>


							<!-- buttons -->
							<div class="cards text-center">
								<button type="submit" class="btn bg-primary text-white">Change</button>
								<button type="reset" class="btn bg-success text-white">Reset</button>

							</div>

						</form>
					</div>
				</div>

			</div>
		</div>
	</section>

</body>
</html>