<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<section>

		<div class="container">
			<div class="card">
				<div class="card-body">
				
				<div class="container text-center">
				
				
				<img src="" style="height: 200px; width: 200px;" class="my_profile_picture" th:src="@{'/images/'+user.imageUrl}" alt="profile" />
				
				</div>
				
				
				<h1 class="text-center" th:text="${user.name}"></h1>
				
				<table class="table">

				<thead>

					<tr>

						<th scope="col">#ID</th>
						<th scope="col">UserId <span th:text="${user.id}"></span>
						</th>


					</tr>
				</thead>


				<tbody>
					<tr>
						<th scope="row">Email</th>
						<td><span th:text=${user.email}></span></td>

					</tr>

					<tr>
						<th scope="row">Your Phne Number</th>
						<td><span th:text=${user.phone}></span></td>

					</tr>

					<tr>
						<th scope="row">Role</th>
						<td><span th:text=${user.role}></span></td>
					</tr>
					
					<tr>
						<th scope="row">About You</th>
						<td><span th:text="${user.about}"></span></td>
					</tr>
					
					
					<tr>
						<th scope="row">Accout Enabled</th>
						<td><span th:text="${user.enabled}"></span></td>
					</tr>
					
					

				</tbody>


			</table>
				
				
				</div>
			
			
			</div>
			


		</div>







		<br> <br> <br> <br> <br> <br> <br>
		<br> <br> <br> <br> <br> <br> <br>
		<br> <br> <br> <br> <br> <br> <br>
		<br> <br> <br> <br> <br> <br> <br>
		<br>

	</section>

</body>
</html>