<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experienced Telesales Representative Required</title>

    <link rel="stylesheet" href="/css/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top mynav ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/Images/mylancer.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Post Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Find Job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Find Freelancer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <button type="button" class="btn login mx-1 my-1">Login</button>
                    <button type="button" class="btn  signin mx-1 my-1">Sign In</button>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container my-4">
        <h3>Experienced Telesales Representative Required</h3>
        <div class="single-post-information-head">
            <span>Hourly Project | Posted 2 hours ago</span>
            <ul class="sharing-post-head">
                <li> <a href="#"><img src="/Images/whatsapp.png" alt=""></a>  </li>
                <li> <a href="#"><img src="/Images/facebook.png" alt=""> </a>   </li>
                <li> <a href="#"><img src="/Images/google-meet.png" alt=""> </a> </li>
                <li> <a href="#"><img src="/Images/pay.png" alt="">  </a> </li>

            </ul>
            <button type="button" class="btn btn-primary btn-lg">Send Proposal</button>


        </div>
        <hr>
        <div class="middle-lancer-job-information">
            <div class="status-info-views">
                <div class="mylancer-job-status">
                    <span>$100</span> 
                    <p class="main-job-tag">
                        Budget
                    </p>
                </div>
                <div class="mylancer-job-status">
                    <span>14</span>
                    <p class="main-job-tag">Proposals </p>
                </div>
                <div class="mylancer-job-status">
                    <span>322</span>
                    <p class="main-job-tag">Views</p> 
                </div>
                <div >
                    <span>Active</span>
                    <p class="main-job-tag">Status</p>
                </div>
            </div>
            <div>
                <p class="mini-job-heading my-4">Skill Required</p>
                <div class="skill-requireds">
                    <span>Sales</span>
                    <span>Telemarketing Exp</span>
                    <span>Business Development</span>
                    <span>Business Stratigy</span>
                </div>
            </div>
            <div class="project-detail-info my-3 mb-5">
                <p class="mini-job-heading">Project Details</p>
                <p>We are looking for a well-spoken Telesales Representative in China, USA, Germany, United
                    Emirates, Switzerland, and require the individual to be responsible for producing sales over the
                    phone. The Telesales Representatives responsibilities include contacting potential customers,
                    focus on customer needs and use them to close sales. A successful Telesales Representative will
                    have excellent communication skills as well as strong sales skills. You should be meticulous in
                    keeping records and able to independently handle all aspects of making a sale
                    Please only apply if you are from the countries stated in the advertisment
                    DO NOT APPLY IF YOU ARE NOT IN THE COUNTRIES STATED
                    Thanks</p>

            </div>


        </div>

    </div>






    <footer>
        <div class="footer-menu">
            <span>Products</span>
            <a href="#">website templates</a>
            <a href="#">websites</a>
            <a href="#">domains</a>
            <a href="#">online stores</a>
            <a href="#">tock</a>
            <a href="#">extension</a>
            <a href="#">marketing tools</a>
            <a href="#">email marketing</a>
            <a href="#">scheduling</a>
            <a href="#">social media tools</a>
            <a href="#">professional email</a>
            <a href="#">logo maker</a>
            <a href="#">pricing</a>
            <a href="#">feature list</a>
        </div>
        <div class="footer-menu">
            <span>customers</span>
            <a href="#">website examples</a>
            <a href="#">featured customers</a>
            <a href="#">creators</a>
            <a href="#">businesses</a>
            <a href="#">online stores</a>
            <a href="#">etsy sellers</a>
            <a href="#">restaurants</a>
            <a href="#">artists</a>
            <a href="#">bloggers</a>
            <a href="#">photographers</a>
            <a href="#">weddings</a>
            <a href="#">enterprise</a>
            <a href="#">students</a>

        </div>

        <div class="footer-menu">
            <span>company</span>
            <a href="#">about</a>
            <a href="#">careers</a>
            <a href="#">investor relations</a>
            <a href="#">our brands</a>
            <a href="#">affiliates</a>
            <a href="#">press & media</a>
            <a href="#">terms of services</a>
            <a href="#">privacy policy</a>
            <a href="#">security measures</a>
            <a href="#">contact us</a>
        </div>

        <div class="footer-menu">
            <span>community</span>
            <a href="#">help center</a>
            <a href="#">hire an expert</a>
            <a href="#">forum</a>
            <a href="#">webinars</a>
            <a href="#">developer platform</a>
            <a href="#">professionals</a>
        </div>

        <div class="footer-menu footer-menu-last">
            <span>follow</span>
            <a href="#">newsroom</a>
            <a href="#">squarespace blog</a>
            <a href="#">engineering blog</a>
            <a href="#">service status</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
        </div>

    </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>