<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<section>




		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-4 offset-md-4">
						<div class="my-card">

							<div class="alert alert-success" role="alert">
								We Have Sent Otp to your email...</div>
								
								<h2>New Password </h2>

							<form action="" th:action="@{/change_password}" method="post">
								<div class="form-group">

									<input name="newPassword" type="text" class="form-control"
										placeholder="enter your new Password here" />


								</div>
								<div class="container mt-2 text-center">
									<button class="btn btn-primary">Change Password</button>

								</div>


							</form>


						</div>
					</div>

				</div>



			</div>


			<br> <br> <br> <br> <br> <br> <br>
			<br> <br>







		</section>
</body>
</html>





</section>

</body>
</html>