<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<section>
		

		<header class="hero-section">
        <h1 class="hero-section-heading">The best platform to connect potential freelancers and businesses globally.  <span></span> </h1>

        <div class="hero-buttons">
            <a href="#">Hire Freelancer</a>
            <a class="hero-btn" href="#">Work As Freelancer</a>

        </div>

    </header>

    <section class="about-sec">
        <div class="about-sec-content">

            <p class="about-heading">About</p>
            <img src="/Images/UnderLine.png" alt=""  >
            <p class="about-desc">Are you looking for a new job or freelance assignment? MayLancer is a great place to start! Our service provides a pool of skilled professionals ready to help you out. We offer freelance services ranging from Web Development, Software Development, Writing & Translation, and Design & Multimedia to Business Services like Sales and Marketing, Customer Services, Administration Support, and Networking and Information System. <br>

            We believe everyone should be able to make money doing something they love, so we are committed to helping freelancers build successful careers. 
                </p>
        </div>

        <div class="about-img">
            <img src="/Images/about-mylancer.png" alt="" >
        </div>
    </section>


    <section class="services-sec">
        <div class="services-heading">
            <p>Services</p>
            <img src="/Images/UnderLine.png" alt="">
        </div>

        <div class="all-services">
            <div class="single-service">
                <img src="/Images/web-development.png" alt="">
                <a href="#" class="service-btn">Web Development</a>
            </div>

            <div class="single-service">
                <img src="/Images/Software-Development.png" alt="">
                <a href="#" class="service-btn">Software Development </a>
            </div>

            <div class="single-service">
                <img src="/Images/Writing-Translation.png" alt="">
                <a href="#" class="service-btn">Writing & Translation </a>
            </div>

            <div class="single-service">
                <img src="/Images/Design-Multimedia.png" alt="">
                <a href="#" class="service-btn">Design & Multimedia</a>
            </div>

            <div class="single-service">
                <img src="/Images/Business-Services.png" alt="">
                <a href="#" class="service-btn">Business Services</a>
            </div>

            <div class="single-service">
                <img src="/Images/Customer-Services.png" alt="">
                <a href="#" class="service-btn">Customer Services</a>
            </div>

            <div class="single-service">
                <img src="/Images/networking-information-system.png" alt="">
                <a href="#" class="service-btn">Networking & Information System </a>
            </div>

            <div class="single-service">
                <img src="/Images/Administration-Support.png" alt="">
                <a href="#" class="service-btn">Administration Support </a>
            </div>

            <div class="single-service">
                <img src="/Images/sales-marketing.png" alt="">
                <a href="#" class="service-btn">Sales and Marketing</a>
            </div>

        </div>
    </section>


    <section class="how-freelancing-works">
        <h2 class="how-freelancing-works-heading">How does freelancing work?</h2>
        <p>Freelance workers are typically independent contractors who offer paid services on top of their existing jobs. In today’s evolving workforce, freelancers no longer need to rely on outdated models like full-time employment to earn a living. MayLancer makes it easy for anyone with an online presence to find work as a freelancer. We connect businesses that want to hire freelancers directly with those seeking freelancing opportunities. <br>
            Our platform allows freelancers to set their own rates and choose the projects they want to complete. As a result, we have seen tremendous growth over the past few years.
            </p>
    </section>

    <section class="testimonial-section">

        <div class="testimonail-heading">
            <h2> Testimonial</h2>
            <img src="/Images/UnderLine.png" alt="">
        </div>

        <div id="testimonial-slider" class="carasul-testimonial ">
            <!-- 1 -->
            <div class="single-review testi-in">
                <p>printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                    five centuries, but also the</p>
                <div class="client-profile">
                    <img src="/Images/reviewer1.png" alt="">
                    <p>Diana Mirza “</p>
                </div>
            </div>

            <!-- 2 -->
            <div class="single-review testi-in">
                <p>printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                    five centuries, but also the</p>
                <div class="client-profile">
                    <img src="/Images/reviewer2.png" alt="">
                    <p>Jenife Closy “</p>
                </div>
            </div>

            <!-- 3 -->
            <div class="single-review testi-in">
                <p>printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                    five centuries, but also the</p>
                <div class="client-profile">
                    <img src="/Images/reviewer3.png" alt="">
                    <p>Rozyy Tiner “</p>
                </div>
            </div>

        </div>

    </section>
		
		
		



	</section>

</body>
</html>