<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>
	<section>
	
 <section class="services-sec">
        <div class="services-heading">
            <p>Services</p>
            <img src="/Images/UnderLine.png" alt="">
        </div>

        <div class="all-services">
            <div class="single-service">
                <img src="/Images/web-development.png" alt="">
                <a href="#" class="service-btn">Web Development</a>
            </div>

            <div class="single-service">
                <img src="/Images/Software-Development.png" alt="">
                <a href="#" class="service-btn">Software Development </a>
            </div>

            <div class="single-service">
                <img src="/Images/Writing-Translation.png" alt="">
                <a href="#" class="service-btn">Writing & Translation </a>
            </div>

            <div class="single-service">
                <img src="/Images/Design-Multimedia.png" alt="">
                <a href="#" class="service-btn">Design & Multimedia</a>
            </div>

            <div class="single-service">
                <img src="/Images/Business-Services.png" alt="">
                <a href="#" class="service-btn">Business Services</a>
            </div>

            <div class="single-service">
                <img src="/Images/Customer-Services.png" alt="">
                <a href="#" class="service-btn">Customer Services</a>
            </div>

            <div class="single-service">
                <img src="/Images/networking-information-system.png" alt="">
                <a href="#" class="service-btn">Networking & Information System </a>
            </div>

            <div class="single-service">
                <img src="/Images/Administration-Support.png" alt="">
                <a href="#" class="service-btn">Administration Support </a>
            </div>

            <div class="single-service">
                <img src="/Images/sales-marketing.png" alt="">
                <a href="#" class="service-btn">Sales and Marketing</a>
            </div>

        </div>
    </section>
	
	
	</section>

</body>
</html>